<nav class='nav'>
  <div class='nav-container'>
    <a href='/'><h1>Blogify</h1></a>
    <ul>
      <li><a href='/profile'>My Profile</a></li>
      <li><a href='/logout' class='btn-logout'>Log Out</a></li>
    </ul>
  </div>
</nav>

<div class='profile-container'>
  <div>
    <figure class='profile-card'>
      <div class='profile-image'>
        {{#if imageUrl}}
          <img src='{{imageUrl}}' alt='profile image' />
        {{else}}
          <img
            src='https://source.unsplash.com/random/800x600'
            alt='profile image'
          />
        {{/if}}
      </div>
      <figcaption>

        <h3>{{name}}</h3>
        <p>
          {{bio}}
        </p>
        <div>
          <a class='btn-form-small' href='/profile/edit'>Edit profile</a>
        </div>
      </figcaption>
    </figure>
  </div>

  <div>
    <h1>Welcome {{name}}</h1>
    <h3>What do you want to do today?</h3>
    <a class='btn-red' href='/create'><span>Create Blog Post</span></a>
    <a class='btn-red' href='/view'><span>View Blog Posts</span></a>
  </div>
</div>

<footer id='main-footer' class='text-center p-4'>
  <div class='footer-content'>
    <p>&copy; <span id='year'></span> Blogify</p>
  </div>
</footer>